.root {
  background-color: #1e1e1e;
  z-index: -2;
  
  position: relative;
  height: 480px;

  padding: 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;

    margin: 0;

    color: #ffffff;
  }
}

.primary {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondary {
  width: 100%;
  
  display: flex;
  justify-content: flex-end;  

  p {
    text-align: right;
  }
}

.big {
  font-size: 48px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.light {
  font-size: 20px;
  font-weight: 500;

  max-width: 800px;  
}

.lighter {
  font-weight: 300;
  font-size: 15px;
}

.image {
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}
