@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

body > div {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  background-color: #ebebeb;
}
