.root {
  flex-grow: 1;
  
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.squeeze {
  margin: auto;
  max-width: 925px;
  width: 100%;
}

.cards {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pagination {
  display: flex;
  justify-content: center;

  margin: 2em 0 1em 0;
}

.content {
  padding: 0.5em;
}
