.root {
  flex-grow: 1;
  
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.squeeze {
  margin: auto;
  max-width: 925px;
}

.aboveCards {
  padding: 1em 0.5em 0 0.5em;
}

.cards {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: space-around;
}
