.root {
  background-color: #F8F9FA;

  padding: 2em 1em;

  p {
    margin: 0;
  }
}

.wrapper {
  margin: auto;
  max-width: 925px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

  a {
    text-decoration: none;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;

  text-align: center;
}